  </div>
  <div class="footer-section">
      <p>
      www.chilliwackvalleycampsites.ca<br>
      604-824-0576<br>
      thurstonmeadows@yahoo.ca<br>
      F.H. Forestry
    </p>
  </div>
  </body>
</html>
