<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Campground Site</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/styles.css">
    <link href="https://fonts.googleapis.com/css?family=Bowlby+One+SC|Ubuntu" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
  </head>
  <body>
    <div class="nav-header container-fluid">
      <h1>CHILLIWACK VALLEY CAMPSITES</h1>
      <div class="nav-div">
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <uv class="navbar-nav mr-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Campgrounds
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Tamihi</a>
            <a class="dropdown-item" href="/cancellations">Cancellations</a>
            <a class="dropdown-item" href="/about">About</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/allison_pools">Allison Pool</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/camp_foley">Camp Foley</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/tamini_rapids">Tamihi Rapids</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="staging_areas">Staging Areas</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            More
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/contact_us">Contact Us</a>
            <a class="dropdown-item" href="/faq">FAQ</a>
            <a class="dropdown-item" href="/know_before_you_go">Know Before You Go</a>
            <a class="dropdown-item" href="/reservations">Reservations</a>
          </div>
        </ul>
        </nav>
      </div>
      </div>
    <div class="content">
