<%- include('./partials/header') %>
    <body>
      <div class="container">
        <h1>Allison Pool: Open</h1>
        <h4> 7 vehicles are allowed. Anything more than 7 requires an additional camping permit.</h4>
        <p>Allison Pool Group site site (REC0019)  is located along the banks of the Chilliwack River and is accessed off of the Chilliwack Lake Rd.
          This site has 7 campsites and can be reserved within the calendar year.
          The Chilliwack River offers excellent fishing for all species of salmon plus steelhead. The site has access to the Trans Canada Trail and easy river access for kayakers.
          ​Calm pools in the river in summer are a great way to relax and cool off.
        </p>
        <p>this site is not ATV friendly, though Atv's maybe be trucked in to ride elsewhere</p>
        <p>Allison Pool is popular for family or group gatherings. Reservation fee is $50.00. Site Fees are $119.00 per night for 7 sites and includes the first 7 vehicles. Additional vehicles will be charged $17.00 per night, cash only can be accepted at the site for extra vehicles.
          As of January 1 2018  you will be able to reserve by email only. Please email your name , dates and site to thurstonmeadows@yahoo.ca and you will receive an email back with details on how to e-transfer payment. No reservation is confirmed until paid in full. All site fees are non-refundable and non-transferable Wood is for sale from Camp Host.
        </p>
        <h5>
          PLEASE NOTE: THE KEY FOR ALLISON IS PICKED UP AND RETURNED TO TAMIHI EAST<br>

          RESERVATION FEE: $50.00<br>
          SITE FEE 7 SITES $119.00 PER NIGHT
        </h5>
        <p>

  Driving Directions
  Follow Hwy. 1 from Vancouver to exit 119 and turn right onto Vedder Rd. Travel 5 km., and turn left onto Chilliwack Lake Rd at the Vedder Bridge. Drive 13.5km to Allison Pool Recreation Site on your left. The Site is located behind a locked gate, the key must be picked up at Tamihi East.</p>

    </div>
    </body>
  </html>
<%- include('./partials/footer') %>
