<%- include('./partials/header') %>
    <body>
      <div class="container">
        <h1>Camp Foley</h1>
        <h4>4 vehicles are allowed all other vehicles require an additional camping permit</h4>
        <h5>All long weekends for Camp Foley are booked. </h5>
        <p>Camp Foley is a popular group site for family gatherings or a get together with friends. This site has 4 campsites and is situated on the banks of the Chilliwack River. Camp Foley is suitable for RV’s and tents. Camp Foley fills up quickly, reservations are a must.​​
          To reserve this site you must take all 4 campsites and a key is provided for the gate at Thurston Meadows. This site can be  can be reserved within the calendar year and must be paid in full at the time of booking.
          As of January 1 2018 reservations will be taken for Camp Foley by email only. Please email thurstonmeadows@yahoo.ca
          Please include your name and the site name and your dates.  You will receive an email back with payment information in it and then your dates will be confirmed once payment is made. All site fees are non-refundable and non-transferable. Wood is for sale from Camp Host
        </p>
        <h5>Please pick up and return the key for the gate to Thurston Meadows</h5>
        <h2>
          RESERVATION FEE: $50.00<br>
          SITE FEE : 68.00 PER NIGHT FOR 4 SITES
        </h2>
        <p>Driving Directions
          Take Hwy 1 East from Vancouver and take exit 119 and turn right onto Vedder Rd. Drive 5 km and turn left onto Chilliwack Lake Rd just before the Vedder River Bridge and drive 26.5 km, Camp Foley is on the left just after the bridge.
        </p>
      </div>
    </body>
  </html>
<%- include('./partials/footer') %>
