<%- include('./partials/header') %>
    <body>
      <div>
        <h1>Cancellation Policy</h1>
          <p>
        Tamihi Creek West, Tamihi Creek East, Tamihi Rapids, Thurston Meadows, Riverside, Chipmunk Peninsula and Rapids.
<br>
Reservation fees are non-refundable and non-transferable.
<br>
Camping fees only, are refundable up to 14 days prior to your arrival date.
<br>
No refund will provided less than 14 days to your arrival date.
<br>
No refunds will be given for cancelling part of your reservation. The site will be fully cancelled and go to first come first serve.
<br>

Group Sites – Cancellations
<br>

Allison Pool Group Site and Camp Foley Group Site and group bookings
<br>
Once a reservation is made, the Reservation Fee and Camping Fee becomes non-refundable and non-transferable even if you cancel 14 days prior.
<br>
If you are booking in a group and someone in your group cancels there will be no refunds for that site.
<br>

No Show Policy – All Sites
<br>

All reservations are held until 9:00 pm of the day you are scheduled to check in.
<br>
If you have not notified the camp ground host of late arrival and you have not  arrived by 9:00 pm the site is considered forfeited.
<br>
No refund will be provided and your reservation will be cancelled.
<br>

Vehicle Policy for Regular Sites
<br>
Tamihi Creek West, Tamihi Creek East, Tamihi Rapids, Thurston Meadows, Riverside, Chipmunk Peninsula and Rapids.
<br>
Your camping fee includes the first vehicle. Each additional vehicle is required to pay $15.00 per night upon arrival. CASH only can be accepted on site at all of our campgrounds.
<br>
Vehicle Policy for Group Sites
<br>
Your reservation camping fees include the number of vehicles stated beside each campground below. Each additional vehicle is required to pay $15.00 per night upon arrival. CASH only can be accepted on site at all of our campgrounds.
<br>
Allison Pool Group (includes the first 7 vehicles)
<br>
Camp Foley Group (includes the first 4 vehicles)
<br>
Refunds
<br>
Refunds on regular sites are applicable only when a site is fully cancelled between 14 and 30 days prior to your arrival date.
There will be no refunds for reducing the number of nights reserved.
        </p>
      </div>
    </body>
  </html>
<%- include('./partials/footer') %>
