<%- include('./partials/header') %>
    <body>
      <h1>Job Postings for the 2018 Season</h1>
      <p>
        We are currently looking for positions to be filled for our 2018 season
        Applicants MUST have their own RV  and generator if needed and be able to pass a criminal record check
        Must be able to communicate with customers
        Jobs available : gate attendants, janitorial, camp hosts, maintainence
        Please send resume to wfurness@telus.net
      </p>
    </body>
  </html>
<%- include('./partials/footer') %>
