<%- include('./partials/header') %>
    <body>
      <h1>Frequently Asked Questions</h1>
      <h4>Can you run your generator?</h4>
      <p>Generators can be run from 8 a.m. to 10 p.m. when needed to charge your batteries.</p>

      <h4>Do you sell firewood?</h4>
      <p>Yes we sell firewood at all of our campsites</p>

      <h4>Do you have water and hook-ups on site?</h4>
      <p>No we do not have a sani-dump or any hook-ups or water on site
        We are strictly dry camping.</p>

      <h4>Can you reserve a campsite</h4>
      <p>We do reservations for all of our sites. Group sites, Allison Pool and Camp Foley can be reserved within the calendar year. All other sites can be reserved 30 days in advance of your arrival date. By email or by calling Thurston Meadows.</p>

      <h4>Do you have a quiet time?</h4>
      <p>Quiet time is strictly enforced between 11 p.m. - 7a.m.
        Please remember noise travels farther at night and you do not want to wake up beside a grumpy neighbour because they did not sleep...</p>

      <h4>Extra Vehicles</h4>
      <p>We allow 1 vehicle per site. Extra vehicles staying will require an additional camping permit. Please remember if you park on the road and walk back in after the gate is closed you are still a visitor and not a paid camper. All visitors must leave by 10 p.m</p>

      <h4>Can I bring my paintball gun to the park?</h4>
      <p>We do not allow paint ball guns, firearms, crossbows, bee bee guns or fireworks in the park</p>


    </body>
  </html>
<%- include('./partials/footer') %>
