<%- include('./partials/header') %>
    <body>
      <h1>Explore the many amazing places of the Chilliwack Valley</h1>
      <p>Whether you like to hike, bike, or fish the Valley has it all!!</p>
      <p>Recreation Sites & Trail BC</p>

<p>Through Recreation Sites and Trails BC we offer a respectful, family oriented wilderness camping experience, focused on improving all aspects of the customer’s enjoyment.

Whether you are interested in hiking, fishing, and rafting, boating, motorized recreation or just to sit back and relax around a camp fire, this is the place for you.

Recreation Sites and Trails BC have a number of maintained campgrounds to choose from depending on what you are looking for. Most of these sites have a full time Host and happy to share their knowledge of the area. Have a look at each site and choose one that bests suits your needs.</p>
    </body>
  </html>
<%- include('./partials/footer') %>
