<%- include('./partials/header') %>
    <body>
      <div class="container">
      <h1>Know Before You Go</h1>
      <h6>Reservations</h6>
      <p>
        Reservations will be taken 30 days prior to your arrival date and must be paid in full at time of booking by e-transfer
        Refunds of site fees will be given if cancelled 14 days prior to your arrival date. Reservation fees are non-refundable
        No discounts will be given for making reservations.
        Reservations can be made by emailing thurstonmeadows@yahoo.ca  please include your name. campground, site number, days in and the day you are leaving in the email, pick more than 1 site number in case your first choice is gone.
      </p>
      <h6>RESERVATION FEES</h6>
      <p>
        $15,00 for a single site
        $25.00 for a double site
        $30.00 for a triple site
        current camping fee is $15.00 per night per site
        1 vehicle is allowed per site
      </p>
      <h6>CAMPING</h6>
      <p>
        Enjoy your stay up to 14 days
        Return your site to its natural condition before leaving
        Competitive or group use require permission
        Pay camping fees to site host... cash only
        Camping fees are paid for a 24 hour period starting at 12 noon on the day in which camping begins
        Senior rates apply to persons 65 or older (ID is required)
        PWD (person with disability) rates apply when receiving benefits under the BC Employment and Assistance Program.
        Current paperwork within the calander year and Ministry stamp is required. Original paperwork only no photocopies.
        WCB and CPP disability does not apply
      </p>
      <h6>VEHICLE POLICY</h6>
      <p>
        Maximum one vehicle per site, unless vehicle is towed
        All other vehicles require an additional camping permit
        All off-road vehicles  must have the required insurance coverage when travelling on a forest service road
      </p>
      <h6>NEW 2018....VISITORS
        ALL VISITORS DRIVING INTO THE SITE WILL REQUIRE A VISITOR PERMIT OF $10.00 PER VEHICLE
      </h6>
      <h6>DRIVE CAUTIOUSLY</h6>
      <p>Maximum speed is 10 km/h
        All off-road vehicles must idle in and out of campgrounds and have the proper insurance
        Do not drive over vegetation
        Alway wear a helmet when riding
      </p>
      <h6>PARKIGN</h6>
    <p>Park in designated areas
      Keep roads clear
      Unauthorized vehicles will be towed at owners expense
      If you cannot park vehicles on your site please park them in the parking area
    </p>
    <h6>QUIET TIMES</h6>
    <p>
      Respect the peace and quiet of others, remember noise carries further at night
      Obey all posted signs
      Keep your noise to a min. including music and generators at all times Remember noise carries farther at night
      Obey quiet time 11p.m.-7a.m.
      All guest must leave the site by 10p.m.
      Gates will be locked at 11p.m. to 7 a.m.
    </p>
    <h6>GARBAGE</h6>
    <p>
      At some sites please bring your garbage to the big green bins , other sites are pack in pack out
      Do not litter
      Do not leave garbage in firepits
      Do not empty your holding tanks in the outhouse or put garbage or cans in the outhouse
      Please take your broken lawn chairs and cardboard home with you
    </p>
    <h6>GROUP SITES</h6>
    <p>
      Allison Pool and Camp Foley can be booked within the calander year and must be paid in full at time of booking. Fees for group sites are non-refundable and non-transferable
      Allison Pool has 7 campsite and you are allowed 7 vehicles
      Camp Foley has 4 campsites and you are allowed 4 vehicles
      All other vehicles require a camping permit this will be collected by the host and is cash only
      Our campgrounds are strictly dry camping, we do not have electric,water or sani dump on site.
      Please fill up your water before you come. No showers, pit toilets only
    </p>
    <h6>WOOD</h6>
    <p>
      Wood is available for sale from the site host. Pallets, treated or painted or wood with nails is not allowed for burning.
      Do not cut trees or remove wood from the site
    </p>
    <h6>FIREPITS AND PICNIC TABLES</h6>
    <p>
      Please do not move firepits or tables. Please do not leave your fires unattended.
      Make sure your fire is out when you leave your campsite
      Fires are to be kept in fire rings only, please do not make fire pits out of rocks
    </p>
    <h6>PETS</h6>
    <p>Keep your pets quiet and under your control at all times
      Recreation Site Operator may request your pet to be on a leash
      Please clean up after your pet especially around playgrounds
      Take your pet with you if you are going off your site to fish or hike
    </p>
    <h6>SAFETY AND HUNTING</h6>
    <p>Do not discharge firearms, bows, crossbows, bb guns or paint ball guns in the rec site
      Do not dispose of game entrails on the site
      Fireworks are not allowed in the rec. site
      Violation of any of the above rules may result in a charge and/or order to vacate under the authority of the Forest and Range Act
      To Observe, record and report on criminal poaching of trees, wildlife or suspicious behavior in the forest call the RCMP,Conservation Officer or the RAPP Line 1-877-952-7277
    </p>
    <p>Please enjoy your stay!</p>
  </div>
    </body>
  </html>
<%- include('./partials/footer') %>
