<%- include('./partials/header') %>
    <body>
      <div>
        <h1>Reservation and Vehicle Policy</h1>
        <p>
          Reservation can be made 30 days prior to your arrival date..not by the calendar month<br>
<br>
          Group sites can be booked within the calendar year starting January 1 of the year by email only<br>
<br>
          No discounts will be given on reservations<br>
<br>
          No discounts will be given for extending your reservation unless you move to another site<br>
<br>
          All reservations must be paid for in full by etransfer before your reservation is confirmed.<br>
<br>
          Reservations can be cancelled 14 days prior to your arrival date. There will be no refunds of the reservation fee<br>
<br>
          Group site fees are non-refundable and non-transferable<br>
<br>
          Camping permits are non-transferable  and cannot be resold anyone caught selling or transferring their  permits to another party, risk the chance of having their reservation cancelled without a refund.<br>
<br>
          Reservations are held until 10 p.m. of the night of your arrival. If you have not called or emailed by 10.p.m. your reservation will be given away to first come first serve.<br>
<br>
          To make a reservation you must be staying 2 nights and 3 nights on a long weekend<br>
<br>
          There is a reservation fee of $15.00 per single site, $25.00 per double site and $30.00 for a triple site<br>
<br>
          Group site reservation fees are 50.00 except for Riverside which is $75.00
<br>
          Refunds are not given for cancelling due to weather, if you decide to leave early or if you are asked to leave the site. You cannot give a friend your camping permit to stay for days leaving early.<br>
<br>
          You are allowed 1 vehicle per single site, 2 vehicles on a double site and 3 vehicles on a triple site anymore than the allowed vehicles an additional camping permit is required<br>
<br>
          Senior discounts are at 50% off the camping fee if everyone in the party are seniors<br>
          <br>
        </p>
      </div>
    </body>
  </html>
<%- include('./partials/footer') %>
