<%- include('./partials/header') %>
    <body>
    <div class="container">
      <h1>Tamihi Staging Area</h1>
      <h5>Open</h5>
      <h4>1 vehicle per site additional vehicles,trailers will require a camping permit</h4>
      <p>Tamihi Staging area has 8 campsites, suitable for large RV’s as well as tents. Large sites make it popular for grouping onto one site.</p>
      <p>
        This Recreation Site is also equipped with a large covered shelter with a fire pit and picnic tables.
        Tamihi Staging has a large open area for off-loading ATV’s and dirt bikes.
        Camping fees are $17.00 per night
        If you are visiting a camper at their site there is a $10.00 fee
        The staging area is a pack in pack out site, there are no garbage facilities on site
        NOTE: We are now able to take reservations for 50% of the campsites in the staging area. Reservations will be taken 30 days prior to your arrival date. You can make a reservation  by email thurstonmeadows@yahoo.ca   Once your reservation is confirmed fees must be paid in full by etransfer.
        Alcohol is not allowed in day use area. You must be a paid camper and keep it on your site.
      </p>
      <p>
        Driving Directions

Follow HWY 1 east from Vancouver and take exit 119 onto Vedder Road. Drive 5km , at the round about take the Chilliwack Lake Rd exit and drive 26.5 km. Turn left onto Bench Forest Service Rd. At the first junction just past Foley Creek turn left at the second junction keep left and continue 6km from the pavement to Rapids Staging Area. A camp host from Chipmunk Peninsula will be around to collect camping fees and maintain the site.
      </p>
    </div>  
    </body>
  </html>
<%- include('./partials/footer') %>
