<%- include('./partials/header') %>
    <body>
      <h1>Tamini Rapids</h1>
      <h3>1 vehicle per site is allowed all other vehicles require an additional camping permit</h3>
      <h5>Open</h5>
      <p>Tamihi Rapids is a small site on the banks of the Chilliwack River. This site has 4 campsites and is open year round.
 The sites can be used individually or as group.

 The site has walk in access off the Chilliwack Lake Road with lots of parking. Tamihi Rapids is very popular for Kayaking and has had a slalom course in existence for over 30 years.

 The Chilliwack River at this location provides excellent fishing for all species of Salmon and Steelhead.

First come, first served campers please pick a site and a campground host will attend at your site to collect a camping fee and provide you with a site permit. Wood is available to buy from Camp Host.

This site does not have an on-site host and is a cash only site. Fees are $17.00 per night, per vehicle. Extra vehicles are required to pay a $17.00 camping fee. cash only. Vehicles must have the camping permit displayed on their vehicle.
Reservations are taken for this site by email : thurstonmeadows@yahoo.ca   All fees for group bookings are non-refundable

Alcohol is not allowed in the parking area or in day use, you must be a paid camper to have alcohol on site.

All visitors must leave the site by 10 p.m. only registered campers allowed after this time.
Visitors visiting registered campers will require a permit of $10.00 per vehicle
This site is a pack in pack out site
SITE FEES ARE $17.00 PER NIGHT EACH SITE
RESERVATION FEE IS $15.00 PER SITE</p>
<p>
  Driving Directions
Follow Hwy 1 east from Vancouver and take exit 119 turn right onto Vedder Rd. Travel 5 kms. At the round about take the Chilliwack lake rd exit  Drive 10.2kms this site is located just after the Tamihi Bridge.
</p>
    </body>
  </html>
<%- include('./partials/footer') %>
